In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('/home/diana/Загрузки/_data.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро',
       'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны',
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [4]:
df = df[['ID  объявления', 'Балкон', 'Окна', 'Санузел', 'Можно с детьми/животными', 'Дополнительно', 'Название ЖК', 'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод', 'Ссылка на объявление']]

### Замена ru на eng

In [5]:
df = df.rename(columns={'ID  объявления' : 'ad_ID',
                        'Балкон' : 'balcony',
                        'Окна' : 'windows',
                        'Санузел' : 'bathroom',
                        'Можно с детьми/животными' : 'with_children/animals',
                        'Дополнительно' : 'additionally',
                        'Название ЖК' : 'name_of_the_RC',
                        'Серия дома' : 'house_series',
                        'Высота потолков, м' : 'ceiling_height_m',
                        'Лифт' : 'elevator',
                        'Мусоропровод' : 'garbage_chute',
                        'Ссылка на объявление' : 'link_to_the_ad'})

### Убираем NaN во всех objects

In [6]:
diff_celling_height = df.columns.difference(['ceiling_height_m', 'balcony'])
df[diff_celling_height] = df[diff_celling_height].fillna('н/д')

### Так как Ceiling_height_m во float. В качестве NaN берем среднее значение

In [7]:
df['ceiling_height_m'] = df['ceiling_height_m'].fillna(df['ceiling_height_m'].mean())

In [8]:
df['ceiling_height_m'] = df['ceiling_height_m'].round(2)

In [9]:
df['balcony'] = df['balcony'].fillna('0')

## Редактируем столбцы для удобства визуализации графиков

In [10]:
df['bathroom'] = df['bathroom'].map(lambda x: x.split()[0])

In [11]:
df['balcony'] = df['balcony'].map(lambda x: x.split()[0])

In [12]:
df.drop('link_to_the_ad', axis=1, inplace=True)

### Попробуем преобазовать "Additionally"

In [13]:
df['additionally'].values

array(['Мебель в комнатах, Мебель на кухне, Ванна, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет, Телефон',
       'Мебель в комнатах, Мебель на кухне, Ванна, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет',
       'Мебель в комнатах, Мебель на кухне, Ванна, Душевая кабина, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет, Телефон',
       ...,
       'Мебель на кухне, Душевая кабина, Стиральная машина, Кондиционер, Холодильник, Интернет',
       'Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Кондиционер, Посудомоечная машина, Холодильник',
       'Мебель в комнатах, Мебель на кухне, Ванна, Стиральная машина, Кондиционер, Посудомоечная машина, Телевизор, Холодильник, Интернет'],
      dtype=object)

In [14]:
Often_additionally = ['Мебель в комнатах', 'Мебель на кухне', 'Интернет', 'Телевизор']
for furniture in Often_additionally:
    df[furniture] = df['additionally'].apply(lambda x: 1 if furniture in x else 0)
df.drop('additionally', axis=1, inplace=True)

### Преобразуем столбец "Elevator"

In [15]:
df['elevator'] = df['elevator'].str.replace(r'[()]', '', regex=True)

In [16]:
df['elevator'] = df['elevator'].str.replace(r'\d+', '', regex=True)

In [17]:
df['elevator'] = df['elevator'].str.replace(r' ', '', regex=True)

In [18]:
df['name_of_the_RC'] = df['name_of_the_RC'].str.replace(r'\d+', '', regex=True)
df['name_of_the_RC'] = df['name_of_the_RC'].str.replace(',', '', regex=True)

### Изменение названий столбцов в новых столбцах

In [19]:
df = df.rename(columns={'Мебель в комнатах' : 'furniture_rooms',
                   'Мебель на кухне' : 'furniture_kitchen',
                   'Интернет' : 'the_internet',
                   'Телевизор' : 'tv'})

In [23]:
df.to_csv('data_p2.csv', sep='\t')